/* Reset and base styles */
:root {
    /* Define variables for consistent use of colors and fonts */
    --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --primary-color: rgba(255, 255, 255, 0.87);
    --bg-color: #535c53;
    --link-color: #16dada;
}

/* Global styles */
body {
    /* Apply base font and colors */
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--bg-color);
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

/* Links and anchor styles */
a {
    /* Styling for links */
    font-weight: 500;
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    /* Style on hover */
    color: #535bf2;
}

/* Other CSS styles */

nav {
    /* Navigation bar layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-container {
    /* Header container */
    display: flex;
    align-items: center;
}

.header {
    /* Title styling */
    margin: 0;
    font-size: 2.5em;
    line-height: 1.1;
    color: #1a1a1a;
    font-weight: bold;
    margin-left: 20px;
    /* Margin added to separate the header from the buttons */
}

.buttons {
    /* Container for buttons */
    display: flex;
    justify-content: flex-end;
    /* Align buttons to the right */
    gap: 10px;
    /* Adjust the spacing between buttons */
}

.button {
    /* Styling for buttons */
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    /* Style on button hover */
    background-color: #0056b3;
}

/* Project content section styles */
.projects {
    /* Styling for project grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 9000px;
    margin: 0 auto;
    padding: 5px;
}

.card {
    /* Styling for individual cards */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.card h1 {
    /* Header in cards */
    font-size: 1.5rem;
    font-weight: bold;
}

.card img {
    /* Styling for images within cards */
    max-width: 70%;
}

.card p {
    /* Styling for paragraphs within cards */
    margin-top: 10px;
}

.card a {
    /* Styling for links within cards */
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;
    color: var(--link-color);
}

.card a:hover {
    /* Style on link hover */
    color: black;
}

/* Footer styles */
.footer-container {
    /* Styling for footer container */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.list-unstyled {
    /* Unstyled list items for footer */
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.footer img {
    /* Styling for footer images */
    max-width: 150px;
}

/* About container styles */
.about-container {
    /* Styling for about section container */
    background-color: #9AB3F5;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 40vh;
    max-height: 40vh;
}

p {
    /* Styling for paragraphs */
    font-size: 16px;
    margin: 0 0 10px;
    color: #1a1a1a;
    font-weight: 500;
}

img {
    /* Styling for images */
    float: left;
    margin-right: 20px;
    max-width: 150px;
}
img:hover {
    transform: scale(1.1);
    /* Scale the image by 10% on hover (adjust as needed) */
    transition: transform 0.3s ease;
    /* Add a smooth transition */
}
footer img:hover {
    transform: scale(1.1);
    /* Scale the image by 10% on hover (adjust as needed) */
    transition: transform 0.3s ease;
    /* Add a smooth transition */
}

/* Media query for light mode */
@media screen and (max-width: 992px) {
    header {
        background: slateblue;
    }
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}